**.ipynb_checkpoints
**.vscode
**__pycache__
build
**.egg-info
**.npz
**#
**~
/generated_datasets/*
!generated_datasets/71GPa_experimental_data.hspy
results
.DS_Store


doc/_build/
doc/backrefs/
doc/examples/