[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
snmfem = {editable = true, extras = ["testing"], path = "."}
pyunlocbox = {editable = true, path = "./pyunlocbox"}

[dev-packages]
jupyter = "*"
notebook = "*"
isort = "*"
jedi = "*"
black = "==20.8b1"
yapf = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
